body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

h1 {
    color: darkslateblue;
}

table {
    border-collapse: collapse;
    width: 60%;
    margin-top: 20px;
}

th {
    background-color: lightgray;

}
